
@import "estilos_texto";
@media only screen and (max-width: 600px) {

        

        main {
            div{
                div{              
                    div{
                        font-size: 24px;
                        color: $color_brand_02;
                        font-family: $type_brand;
                        font-weight: 300;                
                        div{
                            font-size: 16px;
                            font-weight: 400;                  
                            p{                    
                            font-size: 20px;                        
                             }
                            div {
                             font-style: italic;
                             font-weight: 300;                        
                                }                                  
                          }
                             
                   
                     }
                 }
             }
         }
       
        .space_text {
        margin: 20px;
        
        }
        .space_text2 {
        margin-top: 20px;
        margin-bottom: 20px;
        
        }
    
        .space_text3 {
        margin-right: 20px;
        margin-left: 20px;
        
               
        }
        .space_text4 {
        margin-top: 100px;
        margin-bottom: 20px;
        
        }

        .img_gallery_aboutme {
            width: 0px;
        }


}

@media only screen and (min-width:600px) {

    
    main {
        div{
            div{              
                div{
                    font-size: 24px;
                    color: rgba(8, 38, 66, 1);
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 300;                
                    div{
                        font-size: 16px;
                        font-weight: 400;                  
                        p{                    
                        font-size: 20px;                        
                        }
                        div {
                         font-style: italic;
                         font-weight: 300;                        
                            }                                  
                        }
                         
               
                    }
                }
            }
        }
    
    .space_text {
        margin: 20px;
        }

    .space_text2 {
        margin-top: 20px;
        margin-bottom: 20px;
        
        }
    
    .space_text3 {
        margin-right: 20px;
        margin-left: 20px;              
        }

    .space_text4 {
        margin-top: 100px;
        margin-bottom: 20px;
        }
    
    .img_gallery_aboutme {
            width: 200px;
        }
    }