


/* variables */

$color_brand_01 : rgba(237, 240, 245, 1);
$color_brand_02 : rgba(8, 38, 66, 1);
$color_brand_03 : rgba(6, 2, 29, 1);
$type_brand : 'Ubuntu', sans-serif; 


@media only screen and (max-width: 600px) {

.text_title {
    font-size: 40px; 
    font-family: $type_brand;
    font-weight: 300; 
    kerning: 30px;
}
.text_subtitle {
    font-size: 24px; 
    color: $color_brand_03;
    font-family: $type_brand;
    font-weight: 700; 
    text-align: center;
}
.text_focused {
    font-size: 24px; 
    color: $color_brand_03;
    font-family: $type_brand;
    font-weight:500;
    text-decoration: none;
}
.text_regular {
    font-size: 16px; 
    color: $color_brand_03;  
    font-family: $type_brand; 
    font-weight:400; 
    text-align: center;
    display: inline;
   }
#name1 {
    grid-area: name1;
    display: flex;
    align-items: center;
    font-size: 40px; 
    color:$color_brand_02; 
    font-family: $type_brand; 
    font-weight: 300; 
    padding-left: 0%;
    padding-top: 0%;
    justify-content: center;
}
}

@media only screen and (min-width:600px) {
    .text_title {
        font-size: 40px; 
        color: $color_brand_02; 
        font-family:  $type_brand;  
        font-weight: 300; 
        kerning: 30px;
    }
    .text_subtitle {
        font-size: 32px; 
        color: $color_brand_03;
        font-family:  $type_brand; 
        font-weight: 700; 
        text-align: center;
    }
    .text_focused {
        font-size: 24px; 
        color: $color_brand_03; 
        font-family:  $type_brand; 
        font-weight:500;
        text-decoration: none;
    }
    .text_regular {
        font-size: 16px; 
        color: $color_brand_03;  
        font-family:  $type_brand; 
        font-weight:400; 
        display: inline;
        line-height: 25px;
       }
}