/* Constantes */




@media only screen and (max-width: 600px) {

.main_class {
    height: 900px;
    justify-content: center;
    margin-bottom: 40px;
}

.main_class_gallery2 {        
    margin-top: 40px;
    height: 1200px;
    justify-content: center;
    margin-bottom: 40px
}




.main_1st_conteiner {
    display: flex;
    flex-direction: column;
    margin: 20px;  
}
.main_1st_conteiner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.main_1st_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 100px;
    
}


.main_2nd_conteiner {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;  
}
.main_2nd_conteiner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.main_2nd_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 200px;    
}


.main_3rd_conteiner {
    display: flex;
    flex-direction: column;
}
.main_3rd_conteiner_left { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.main_3rd_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 100px;
    
}


.main_4rd_conteiner {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;  
}
.main_4rd_conteiner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.main_4rd_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 200px;

    
}


   

.div_card {
    margin: 5%;
}
.img_gallery {
    height: 200px;
}
}

@media only screen and (min-width:600px) {
    
    .main_class {
        display: grid;
        grid-template-columns: 900px;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas: "top"
                             "mid" 
                             "bot";
        height: 1200px;
        justify-content: center;
        }
    
        .main_class_gallery2 {
            display:grid;
            grid-template-columns: 900px;
            grid-template-rows: 400px 400px 400px 400px;
            grid-template-areas: "top"
                                "mid"
                                "bot" 
                                "bot2";
            height: 1600px;
            justify-content: center;
    
        }
    
        .main_class_conteiner {
            display: flex;
            justify-content: center;
        }
    
    
        .main_1st_conteiner {
        grid-area: top;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "1stleft 1stright";
        }
        .main_1st_conteiner_left {
        grid-area: 1stleft;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        display: flex;
        -ms-flex-align: center;    
        }
        .main_1st_conteiner_right {
        grid-area: 1stright;
        display: flex;
        align-items: center;
        }
    
    
    
        .main_2nd_conteiner {
        grid-area: mid;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "2ndleft 2ndright";
        }
        .main_2nd_conteiner_left {
        grid-area: 2ndleft;
        display: flex;
        align-items: center;
        justify-content: center;
        }   
        .main_2nd_conteiner_right {
        grid-area: 2ndright;
        justify-content: left;
        align-content: center;
        justify-items: center;
        align-items: center;
        display: flex;
        -ms-flex-align: center; 
        }
    
    
    
        .main_3rd_conteiner {
            grid-area: bot;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr;
            grid-template-areas: "3rdleft 3rdright";
            
        }
        .main_3rd_conteiner_left {
            grid-area:3rdleft;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            display: flex;
            -ms-flex-align: center; 
            
        }
        .main_3rd_conteiner_right {
            grid-area: 3rdright;
            display: flex;
            align-items: center;
            
        }
    
        .main_4rd_conteiner {
            grid-area: bot2;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            grid-template-areas: "2ndleft 2ndright";
            }
            .main_4rd_conteiner_left {
            grid-area: 2ndleft;
            display: flex;
            align-items: center;
            justify-content: center;
            }   
            .main_4rd_conteiner_right {
            grid-area: 2ndright;
            justify-content: left;
            align-content: center;
            justify-items: center;
            align-items: center;
            display: flex;
            -ms-flex-align: center; 
            }
    
    
        .div_card {
            margin: 5%;
        }
    
        .img_gallery {
            
            height: 300px;
        }
    
    }