/* Constantes */




@media only screen and (max-width: 600px) {

.main_class {
    height: 900px;
    justify-content: center;
    margin-bottom: 40px;
}

.main_class_gallery2 {        
    margin-top: 40px;
    height: 1200px;
    justify-content: center;
    margin-bottom: 40px
}




.main_1st_conteiner {
    display: flex;
    flex-direction: column;
    margin: 20px;  
}
.main_1st_conteiner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.main_1st_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 100px;
    
}


.main_2nd_conteiner {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;  
}
.main_2nd_conteiner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.main_2nd_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 200px;    
}


.main_3rd_conteiner {
    display: flex;
    flex-direction: column;
}
.main_3rd_conteiner_left { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.main_3rd_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 100px;
    
}


.main_4rd_conteiner {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;  
}
.main_4rd_conteiner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.main_4rd_conteiner_right {
    justify-content: center;        
    align-items: center;
    display: flex;
    height: 200px;

    
}


   

.div_card {
    margin: 5%;
}
.img_gallery {
    height: 200px;
}
}

@media only screen and (min-width:600px) {
    
    
    
        .div_card {
            margin: 5%;
        }
    
        .img_gallery {
            
            height: 300px;
        }
    
    }